@import 'variables.scss';

body {
    background-color: $background-2;
    font-family: 'Roboto Slab', serif;
}

.site-primary-content,
.site-information-block {
    padding: 2px 20px;
    color: $font-1;
}

.site-primary-content {
    background-color: $background-1;

    @include md {
        text-align: center;
    }
}

.site-content {
    min-height: calc(100vh - 148px);
    margin: 0 auto;
    text-align: center;
    width: 860px;

    @include md {
        width: 620px;
    }

    @include sm {
        width: 90%;
    }
}

.site-information-block {
    background-color: $background-4;
    color: $font-3;
    text-align: center;
}

.button {
    background: $background-1;
    border: none;
    color: $font-1;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 12px;
    box-shadow: 0 2px 16px $shadow-1;
}

.link {
    color: $font-4;
    text-decoration: none;
}
.link:hover {
    color: $font-5;
}
.icon {
    color: $font-2;
}
.error {
    background: $background-5;
    border: 2px solid $font-6;
    color: $font-6;
    padding: 24px;
    margin: 12px;
}
