@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-gray-1;
    font-family: 'Roboto Slab', serif;
}

header,
footer {
    padding: 20px;
    color: $white;
}

header {
    background-color: $turquoise;

    @media screen and (max-width: 960px) {
        text-align: center;
    }
}

.main {
    min-height: calc(100vh - 144px);
    margin: 0 auto;
    text-align: center;
    width: 860px;

    @media screen and (max-width: 960px) {
        width: 620px;
    }

    @media screen and (max-width: 780px) {
        width: 90%;
    }
}

footer {
    background-color: $gray;
    color: $dark-gray;
    text-align: center;
}

.button {
    background: $turquoise;
    border: none;
    color: $white;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 12px;
    box-shadow: 0 2px 16px $shadow-1;
}

.link {
    color: $light-gray-2;
    text-decoration: none;
}
.link:hover {
    color: $light-gray-3;
}
.icon {
    color: $green;
}
.error {
    background: $light-red;
    border: 2px solid $red;
    color: $red;
    padding: 24px;
    margin: 12px;
}
