@import 'variables.scss';

body {
    background-color: $background-2;
    font-family: 'Roboto Slab', serif;
}

.site-header,
.site-information {
    padding: 20px;
    color: $color-1;
}

.site-header {
    background-color: $background-1;

    @include md {
        text-align: center;
    }

    &__logo {
        font-size: 1.8em;
    }
}

.site-content {
    min-height: calc(100vh - 140px);
    margin: 0 auto;
    text-align: center;
    width: 860px;

    @include md {
        width: 620px;
    }

    @include sm {
        width: 90%;
    }
}

.site-information {
    background-color: $background-4;
    color: $color-3;
    text-align: center;

    &__api {
        font-size: 0.9rem;
    }
}

.button {
    background: $background-1;
    border: none;
    color: $color-1;
    padding: 8px 12px;
    border-radius: 3px;
    margin: $margin__base;
    box-shadow: 0 2px 16px $shadow-1;
}

.link {
    color: $color-4;
    text-decoration: none;
}
.link:hover {
    color: $color-5;
}

.icon {
    color: $color-2;
}

.error {
    background: $background-5;
    border: 2px solid $color-6;
    color: $color-6;
    padding: 24px;
    margin: $margin__base;
}

.hidden {
    display: none;
}